<div class="header-container">
    <div class="logo-container">
        <a (click)="goToPage('Home')">
            <img src="../../assets/logo/ayaya.png" alt="logo" class="logo">
            <h3>xQc@AYAYA<br><span>PRODUCTION</span></h3>
        </a>
    </div>

    <div class="navigation-menu-container">
        <ul>
            <li><a (click)="goToPage('Fetch')">Replies</a></li>
            <li><a (click)="goToPage('Support')">Talk to xQc</a></li>
            <li><a (click)="goToPage('AboutUs')">About Us</a></li>
            <li><a (click)="goToPage('MangaList')">Autobiography</a></li>
            <li><a (click)="goToPage('AnimeList')">Anime List</a></li>
        </ul>
    </div>
</div>