<div class="about-us-wrapper">
    <div class="about-us-title">
        <h1>About the</h1><img src="../../assets/pictures/pepega.png" alt="Pepega" class="pepega">
    </div>

    <div class="about-us-pic">
        <img src="../../assets/pictures/cool.png" alt="author-pic" class="author-pic">
    </div>

    <div class="about-us-info">
        <p>AYAYA is a cool emote spam it or the Gods will come and find you!!!</p>
        <p>Also, xQc's GTA V RP is awesome to watch!</p>
        <p>Last but not least, this is my first angular project, PagMan!</p>
        <img src="../../assets/pictures/pagman.png" alt="PagMan" class="pagman">
    </div>

    <div class="social-links">
        <ul>
            <li><a href="//steamcommunity.com/id/JCN_LoveInApril" target="_blank"><i class="fa fa-steam"></i></a></li>
            <li><a href="//www.twitch.tv/weeb_realizes_waifu_dream" target="_blank"><i class="fa fa-twitch"></i></a></li>
            <li><a href="//github.com/sia-wrwd" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
</div>