<div class="align-center">
    <div class="picture">
        <img src="../../assets/pictures/xqc.jpg" alt="xQcOW">
    </div>

    <div class="x-bio">
        <p>Félix Lengyel (French pronunciation: ​[feliks lɑ̃ʒɛl], born November 12, 1995), better known by his online
            alias xQc or xQcOW, is a Canadian Twitch streamer, internet personality, and former professional Overwatch
            player. Lengyel played for the Dallas Fuel in the Overwatch League for part of the inaugural season before
            being released due to repeated controversy and suspensions. Lengyel has also played in the Overwatch World
            Cup for Team Canada in 2017, 2018 and 2019. He now streams full-time on Twitch as a variety streamer for the
            Canadian esports organization Luminosity Gaming.
        </p>
        <br>
        <h2>Early Life</h2>
        <p>
            Lengyel was born on November 12, 1995.

            After completing his secondary school, Lengyel went on to study humanities at CEGEP before switching to
            administration. He ended up dropping out after 3.5 years, just before graduating,
            and started streaming games on Twitch. Lengyel first started off playing League of Legends on Twitch under
            the name xQcLoL but later discovered the game Overwatch and started playing it
            competitively.
        </p>
        <h3>(Source: Wikipedia@Wikimedia Foundation)</h3>
    </div>
</div>